@import url('./fonts.scss');
@import url('./variables.scss');


body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  font-size: var(--m-h1-size);
  font-weight: var(--m-typo-weight);
  line-height: var(--m-h1-line-height);
  @media(min-width: 992px) {
    font-size: var(--d-h1-size);
    font-weight: var(--d-h1-weight);
    line-height: normal;
  }
}

h2 {
  font-size: var(--m-h2-size);
  font-weight: var(--m-typo-weight);
  line-height: var(--m-h2-line-height);
  margin-bottom: var(--m-h2-paragraph-spacing);
  @media(min-width: 992px) {
    font-size: var(--d-h2-size);
    font-weight: var(--d-h2-weight);
    line-height: var(--d-h2-line-height);
  }
}

h3 {
  font-size: var(--m-h3-size);
  font-weight: var(--m-typo-weight);
  margin-bottom: var(--m-h2-paragraph-spacing);
  @media(min-width: 992px) {
    font-size: var(--d-h3-size);
    font-weight: var(--d-h3-weight);
    line-height: var(--d-h3-line-height);
  }
}

h4 {
    font-size: var(--d-h4-size);
    font-weight: var(--d-h4-weight);
    line-height: var(--d-h4-line-height);
    margin: 0
}

h5 {
  font-size: var(--d-h5-size);
  font-weight: var(--d-h5-weight);
  line-height: var(--d-h5-line-height);
  margin-bottom: var(--d-h5-paragraph-spacing);
}
