:root {
 --accent-color: #A18A68;
 --dark-gray-color: #707070;
 --gray-color: #D8D8D8;
 --light-gray-color: #EFEFEF;
 --service-red: #D82700;
 --white-color: #ffffff;
 --black-color: #000000;

 --m-typo-weight: 400;

 --d-h1-size: 33px;
 --d-h1-weight: 500;

 --m-h1-size: 20px;
 --m-h1-line-height: 26px;

 --d-h2-size: 26px;
 --d-h2-weight: 400;
 --d-h2-line-height: 35px;

 --m-h2-size: 16px;
 --m-h2-line-height: 35px;
 --m-h2-paragraph-spacing: 10px;

 --d-h3-size: 20px;
 --d-h3-weight: 400;
 --d-h3-line-height: 26px;

 --m-h3-size: 14px;

 --d-h4-size: 20px;
 --d-h4-weight: 500;
 --d-h4-line-height: 20px;

 --d-h5-size: 16px;
 --d-h5-weight: 400;
 --d-h5-line-height: 27px;
 --d-h5-paragraph-spacing: 10px;

 --d-body-large-size: 16px;
 --d-body-large-weight: 700;

 --d-body-medium-size: 14px;
 --d-body-medium-weight: 400;

 --d-body-small-size: 12px;
 --d-body-small-weight: 400;
 --d-body-small-line-height: 20px;
 --d-body-small-paragraph-spacing: 10px;

 --m-body-small-size: 12px;
 --m-body-small-line-height: 20px;
 --m-body-small-paragraph-spacing: 10px
}