.button {
  padding: 0 !important;
  border: none;
  height: 100%;
  color: #000 !important;
  position: relative;
}

.cart_icon {
  height: 24px;
  width: auto;
}

.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  right: -2px;
  color: var(--black-color) !important;
  width: 12px;
  height: 12px;
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 50%;
}

.badge_counter {
  font-size: 10px;
}