.badge {
 border-radius: 4px;
 background-color: var(--accent-color);
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 1000;
 padding: 5px 10px;
 position: relative;
 p {
  font-size: var( --m-body-small-size);
  line-height: var(--m-body-small-line-height);
  color: var(--white-color);
  padding: 0;
  margin: 0;
 }
}